@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --radius: 0.3rem;
  --background: oklch(0.9551 0 0);
  --foreground: oklch(0.2520 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2520 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2520 0 0);
  --primary: oklch(0.6255 0.0774 21.5704);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0.3725 0.0170 290.1383);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0.5522 0.0123 291.7398);
  --accent: oklch(0.9040 0.0210 13.8887);
  --accent-foreground: oklch(0.2520 0 0);
  --destructive: oklch(0.7007 0.0586 66.6259);
  --border: oklch(0.8677 0.0041 286.3142);
  --input: oklch(0.8677 0.0041 286.3142);
  --ring: oklch(0.6255 0.0774 21.5704);
  --chart-1: oklch(0.6255 0.0774 21.5704);
  --chart-2: oklch(0.7028 0.0635 21.3053);
  --chart-3: oklch(0.7791 0.0483 11.6584);
  --chart-4: oklch(0.8505 0.0348 4.2711);
  --chart-5: oklch(0.8874 0.0267 359.9997);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2520 0 0);
  --sidebar-primary: oklch(0.6255 0.0774 21.5704);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9040 0.0210 13.8887);
  --sidebar-accent-foreground: oklch(0.2520 0 0);
  --sidebar-border: oklch(0.8677 0.0041 286.3142);
  --sidebar-ring: oklch(0.6255 0.0774 21.5704);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2115 0.0060 301.0350);
  --foreground: oklch(0.9249 0 0);
  --card: oklch(0.2299 0.0064 314.6910);
  --card-foreground: oklch(0.9249 0 0);
  --popover: oklch(0.2299 0.0064 314.6910);
  --popover-foreground: oklch(0.9249 0 0);
  --primary: oklch(0.6255 0.0774 21.5704);
  --primary-foreground: oklch(0.2115 0.0060 301.0350);
  --secondary: oklch(0.2735 0.0036 286.1561);
  --secondary-foreground: oklch(0.8699 0 0);
  --muted: oklch(0.3034 0.0055 301.2015);
  --muted-foreground: oklch(0.6564 0.0103 292.6836);
  --accent: oklch(0.5525 0.0491 18.7581);
  --accent-foreground: oklch(0.8699 0 0);
  --destructive: oklch(0.7282 0.0389 60.5066);
  --border: oklch(0.3739 0.0069 297.4989);
  --input: oklch(0.3739 0.0069 297.4989);
  --ring: oklch(0.6255 0.0774 21.5704);
  --chart-1: oklch(0.6255 0.0774 21.5704);
  --chart-2: oklch(0.7028 0.0635 21.3053);
  --chart-3: oklch(0.7791 0.0483 11.6584);
  --chart-4: oklch(0.8505 0.0348 4.2711);
  --chart-5: oklch(0.8874 0.0267 359.9997);
  --sidebar: oklch(0.2299 0.0064 314.6910);
  --sidebar-foreground: oklch(0.9249 0 0);
  --sidebar-primary: oklch(0.6255 0.0774 21.5704);
  --sidebar-primary-foreground: oklch(0.2115 0.0060 301.0350);
  --sidebar-accent: oklch(0.5525 0.0491 18.7581);
  --sidebar-accent-foreground: oklch(0.8699 0 0);
  --sidebar-border: oklch(0.3739 0.0069 297.4989);
  --sidebar-ring: oklch(0.6255 0.0774 21.5704);
  --destructive-foreground: oklch(0.9249 0 0);
  --radius: 0.3rem;
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --radius: 0.3rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}