@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --radius: 1.025rem;
  --background: oklch(0.9970 0 0);
  --foreground: oklch(0.2520 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2520 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2520 0 0);
  --primary: oklch(0.4186 0.2518 270.2260);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7784 0.0183 264.4620);
  --secondary-foreground: oklch(0.3231 0.0257 260.0636);
  --muted: oklch(0.8233 0.0392 248.3024);
  --muted-foreground: oklch(0.4707 0.0189 266.1232);
  --accent: oklch(0.7166 0.1467 269.9480);
  --accent-foreground: oklch(0.2520 0 0);
  --destructive: oklch(0.5783 0.2301 28.5639);
  --border: oklch(0.7322 0.0196 258.3622);
  --input: oklch(0.7322 0.0196 258.3622);
  --ring: oklch(0.4186 0.2518 270.2260);
  --chart-1: oklch(0.4186 0.2518 270.2260);
  --chart-2: oklch(0.4583 0.2718 268.2090);
  --chart-3: oklch(0.4917 0.2742 283.5047);
  --chart-4: oklch(0.5921 0.2313 359.2924);
  --chart-5: oklch(0.6127 0.1711 45.8381);
  --sidebar: oklch(0.8233 0.0392 248.3024);
  --sidebar-foreground: oklch(0.2520 0 0);
  --sidebar-primary: oklch(0.4186 0.2518 270.2260);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7166 0.1467 269.9480);
  --sidebar-accent-foreground: oklch(0.2520 0 0);
  --sidebar-border: oklch(0.7322 0.0196 258.3622);
  --sidebar-ring: oklch(0.4186 0.2518 270.2260);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2063 0.0120 277.8347);
  --foreground: oklch(0.9249 0 0);
  --card: oklch(0.2063 0.0120 277.8347);
  --card-foreground: oklch(0.9249 0 0);
  --popover: oklch(0.2063 0.0120 277.8347);
  --popover-foreground: oklch(0.9249 0 0);
  --primary: oklch(0.6084 0.0279 263.2441);
  --primary-foreground: oklch(0.2063 0.0120 277.8347);
  --secondary: oklch(0.2361 0.0097 276.6595);
  --secondary-foreground: oklch(0.8699 0 0);
  --muted: oklch(0.2608 0.0116 270.9422);
  --muted-foreground: oklch(0.5575 0.0219 262.9389);
  --accent: oklch(0.2962 0.0100 260.7091);
  --accent-foreground: oklch(0.8699 0 0);
  --destructive: oklch(0.5772 0.1946 21.7326);
  --border: oklch(0.3180 0.0127 272.9862);
  --input: oklch(0.3180 0.0127 272.9862);
  --ring: oklch(0.6084 0.0279 263.2441);
  --chart-1: oklch(0.6084 0.0279 263.2441);
  --chart-2: oklch(0.6380 0.0294 262.2824);
  --chart-3: oklch(0.6653 0.0287 264.3598);
  --chart-4: oklch(0.5364 0.0206 261.2993);
  --chart-5: oklch(0.4672 0.0154 266.5702);
  --sidebar: oklch(0.2063 0.0120 277.8347);
  --sidebar-foreground: oklch(0.9249 0 0);
  --sidebar-primary: oklch(0.6084 0.0279 263.2441);
  --sidebar-primary-foreground: oklch(0.2063 0.0120 277.8347);
  --sidebar-accent: oklch(0.2962 0.0100 260.7091);
  --sidebar-accent-foreground: oklch(0.8699 0 0);
  --sidebar-border: oklch(0.3180 0.0127 272.9862);
  --sidebar-ring: oklch(0.6084 0.0279 263.2441);
  --destructive-foreground: oklch(0.9249 0 0);
  --radius: 1.025rem;
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --radius: 1.025rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}