@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --background: oklch(0.9970 0 0);
  --foreground: oklch(0.2520 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2520 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2520 0 0);
  --primary: oklch(0.5106 0.2301 276.9656);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9276 0.0058 264.5313);
  --secondary-foreground: oklch(0.3729 0.0306 259.7328);
  --muted: oklch(0.9842 0.0034 247.8575);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9299 0.0334 272.7879);
  --accent-foreground: oklch(0.2520 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8717 0.0093 258.3382);
  --input: oklch(0.8717 0.0093 258.3382);
  --ring: oklch(0.5106 0.2301 276.9656);
  --chart-1: oklch(0.5106 0.2301 276.9656);
  --chart-2: oklch(0.5854 0.2041 277.1173);
  --chart-3: oklch(0.6056 0.2189 292.7172);
  --chart-4: oklch(0.6559 0.2118 354.3084);
  --chart-5: oklch(0.7049 0.1867 47.6044);
  --sidebar: oklch(0.9842 0.0034 247.8575);
  --sidebar-foreground: oklch(0.2520 0 0);
  --sidebar-primary: oklch(0.5106 0.2301 276.9656);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9299 0.0334 272.7879);
  --sidebar-accent-foreground: oklch(0.2520 0 0);
  --sidebar-border: oklch(0.8717 0.0093 258.3382);
  --sidebar-ring: oklch(0.5106 0.2301 276.9656);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.525rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1924 0.0102 276.4679);
  --foreground: oklch(0.9249 0 0);
  --card: oklch(0.2237 0.0117 277.9313);
  --card-foreground: oklch(0.9249 0 0);
  --popover: oklch(0.2237 0.0117 277.9313);
  --popover-foreground: oklch(0.9249 0 0);
  --primary: oklch(0.7233 0.0191 261.3255);
  --primary-foreground: oklch(0.1924 0.0102 276.4679);
  --secondary: oklch(0.2691 0.0115 270.9624);
  --secondary-foreground: oklch(0.8699 0 0);
  --muted: oklch(0.2980 0.0130 272.9412);
  --muted-foreground: oklch(0.6589 0.0191 264.4357);
  --accent: oklch(0.3405 0.0129 267.1584);
  --accent-foreground: oklch(0.8699 0 0);
  --destructive: oklch(0.6709 0.1448 16.9989);
  --destructive-foreground: oklch(0.9249 0 0);
  --border: oklch(0.3654 0.0157 275.6639);
  --input: oklch(0.3654 0.0157 275.6639);
  --ring: oklch(0.7233 0.0191 261.3255);
  --chart-1: oklch(0.7233 0.0191 261.3255);
  --chart-2: oklch(0.7586 0.0189 261.3282);
  --chart-3: oklch(0.7939 0.0169 262.7408);
  --chart-4: oklch(0.6316 0.0198 261.3158);
  --chart-5: oklch(0.5450 0.0196 267.6470);
  --sidebar: oklch(0.2408 0.0115 278.0097);
  --sidebar-foreground: oklch(0.9249 0 0);
  --sidebar-primary: oklch(0.7233 0.0191 261.3255);
  --sidebar-primary-foreground: oklch(0.1924 0.0102 276.4679);
  --sidebar-accent: oklch(0.3405 0.0129 267.1584);
  --sidebar-accent-foreground: oklch(0.8699 0 0);
  --sidebar-border: oklch(0.3654 0.0157 275.6639);
  --sidebar-ring: oklch(0.7233 0.0191 261.3255);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.525rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}